<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/css/style1.css'>
        <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap" rel="stylesheet"> <!-- news -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet"> <!-- sidebar -->
        <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> <!-- news description -->
        <link rel="manifest" href="/manifest.json">
        <link rel="icon" href="/img/favicon.png">
        <!-- ios support -->
        <link rel="apple-touch-icon" href="/img/icons/icon-96x96.png">
        <meta name="apple-mobile-web-app-status-bar" content="#6A89CC">
        <meta name="theme-color" content="#6A89CC">
        
    </head>
    <body>
        <div class="heading">
            <h1>OOPS</h1>
            <p>Can't load this page Offline</p>
            <a href="/main" class="sidebar-text" id="sidebar-headline">Go TO Homapage</a>
        </div>
    </body>
</html>