<html>

    <head>
        <link rel='stylesheet' href='/css/style1.css'>
        <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap" rel="stylesheet"> <!-- news -->
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet"> <!-- sidebar -->
        <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet"> <!-- news description -->
    </head>
    <body>
        <div class="heading">
            <h1>Health</h1>
            <span id="sidebar-icon" onclick="openNav()">&#9776;</span>
            <div id="sidebar">
            
                <img src="/img/close.png" onclick="closeNav()" href="javascript:void(0)" class="close-btn">

                <div id="nav-links">
                    <a href="/main" class="sidebar-text" id="sidebar-headline">Headline</a>
                    <a href="/business" class="sidebar-text" id="sidebar-business">Business</a>
                    <a href="/entertainment" class="sidebar-text" id="sidebar-entertainment">Entertainment</a>
                    <a href="/health" class="sidebar-text" id="sidebar-health">Health</a>
                    <a href="/science" class="sidebar-text" id="sidebar-science">Science</a>
                    <a href="/sports" class="sidebar-text" id="sidebar-sports">Sports</a>
                    <a href="/technology" class="sidebar-text" id="sidebar-technology">Technology</a>
                </div>

                <form>
                    <input type="text" id="search-box">
                    <input type="submit" id="search-button">
                </form>
                
            </div>

        </div>
        
        <div id="content">
            
        </div>
    </body>

    <script src="/js/app2.js"></script>
</html>