<div id="nav-bar">

  <a href="/business" class="nav-text" id="nav-business">Business</a>
  <a href="/entertainment" class="nav-text" id="nav-entertainment">Entertainment</a>
  <a href="/health" class="nav-text" id="nav-health">Health</a>
  <a href="/science" class="nav-text" id="nav-science">Science</a>
  <a href="/sports" class="nav-text" id="nav-sports">Sports</a>
  <a href="/technology" class="nav-text" id="nav-technology">Technology</a>

</div>