<div id="nav-bar">
  <div class="nav-text-wrapper">
    <a href="/business" class="nav-text" id="nav-business">Business</a>
  </div>
  <div class="nav-text-wrapper">
    <a href="/entertainment" class="nav-text" id="nav-entertainment"
      >Entertainment</a
    >
  </div>
  <div class="nav-text-wrapper">
    <a href="/health" class="nav-text" id="nav-health">Health</a>
  </div>
  <div class="nav-text-wrapper">
    <a href="/science" class="nav-text" id="nav-science">Science</a>
  </div>
  <div class="nav-text-wrapper">
    <a href="/sports" class="nav-text" id="nav-sports">Sports</a>
  </div>
  <div class="nav-text-wrapper">
    <a href="/technology" class="nav-text" id="nav-technology">Technology</a>
  </div>
</div>
