<span id="sidebar-icon" onclick="openNav()">&#9776;</span>
<div id="sidebar">

  <img src="/img/close.png" onclick="closeNav()" href="javascript:void(0)" class="close-btn close-button-parent">

  <div id="nav-links">
    <a href="/" class="sidebar-text" id="sidebar-headline">Headline</a>
    <a href="/business" class="sidebar-text" id="sidebar-business">Business</a>
    <a href="/entertainment" class="sidebar-text" id="sidebar-entertainment">Entertainment</a>
    <a href="/health" class="sidebar-text" id="sidebar-health">Health</a>
    <a href="/science" class="sidebar-text" id="sidebar-science">Science</a>
    <a href="/sports" class="sidebar-text" id="sidebar-sports">Sports</a>
    <a href="/technology" class="sidebar-text" id="sidebar-technology">Technology</a>
  </div>


</div>