<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/header.ejs") %>

<body>
    <div class="heading">
        <%- include("./partials/sidebar.ejs") %>
        <h1>OOPS</h1>
        <p>Can't load this page Offline</p>
        <a href="/" class="sidebar-text" id="sidebar-headline">Go TO Homapage</a>
    </div>
</body>

</html>