<!DOCTYPE html>
<html lang="en">

<!--header-->

<body>
    <div class="heading">
        <h1>OOPS</h1>
        <p>Can't load this page Offline</p>
        <a href="/" class="sidebar-text" id="sidebar-headline">Go TO Homapage</a>
    </div>
</body>

</html>