hr {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

title {
    margin-left: 1em;
}

h1 {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 3rem;
    font-family: 'Work Sans', sans-serif;
}

#header-main {
    position: relative;
}

#sidebar-icon {
    font-size: 50px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
}

#cover-main {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    box-sizing: border-box;
}


#search-box {
    margin-left: 2%;
    font-size: 1rem;
    border-radius: 8px;
}

#search-button {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    background-color: #9999ff;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.4em;
    color: white;
    cursor: pointer;
    border: none;
}

#sidebar {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #2C3335;
    transition: 0.2s;
}

.sidebar-text {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #f1f1f5;
    transition: 0.3s;
    padding: 1em;
    font-size: 1.5rem;
}

.sidebar-text:hover {
    color: #6c6c77;
}

.close-button-parent {
    margin-left: 87%;
}

.close-btn {
    height: 50px;
    width: 50px;
    margin-left: 85%;
}

.close-button-parent:hover {
    cursor: pointer;
    background-color: #6c6c77;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    padding: 2em 0;
}

#nav-links {
    display: flex;
    flex-direction: column;
}

.nav-text {
    display: flex;
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
    margin: 0 2%;
    text-decoration: none;
    color: #888181;
}

.nav-text:hover {
    color: #443b3b;
    transition: 0.1s;
}

@media only screen and (max-width: 600px) {
    #nav-bar {
        display: none;
    }
    .top-stories {
        flex-direction: column !important;
        padding-top: 3em !important;
    }
    .col-1 {
        width: 100% !important;
    }
    .col-2 {
        width: 100% !important;
    }
    .rows-col-1 {
        flex-direction: column !important;
        width: 100% !important;
        padding-top: 1em !important;
    }
    .categorical-news {
        flex-direction: column !important;
    }
    .news-content-col-1 {
        padding-left: 0 !important;
        padding-top: 1em !important;
        width: 100% !important;
    }
    .categorical-rows-col-2 {
        color: black !important;
        width: 100% !important;
        flex-direction: column !important;
        padding-top: 1em !important;
    }
    .categorical-news-col-1 {
        color: black !important;
        width: 100% !important;
    }
    .rows-col-2 {
        color: black !important;
        padding-top: 1em !important;
    }
    .rows-col-1 {
        color: black !important;
    }
    .categorical-news-image-col-1 {
        padding-top: 1em !important;
    }
    .categorical-news-content-col-1 {
        padding-top: 1em !important;
    }
    .categorical-news-image-col-2 {
        width: 100% !important;
    }
    .categorical-news-content-col-2 {
        padding-top: 1em !important;
        width: 100% !important;
    }
    .categorical-news-col-2 {
        width: 100% !important;
    }
    .close-btn {
        height: 50px !important;
        width: 50px !important;
        margin-left: 75% !important;
      }
  }

.top-stories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 1200px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.rows-col-1 {
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    width: 90%;
    height: 30%;
}

.news-image-col-1 {
    width: 100%;
    height: 100%;
}

.news-image-col-1-url-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content-col-1 {
    padding-left: 2rem;
    width: 90%;
    height: auto;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rows-col-1:hover {
    color: #8B78E6;
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.rows-col-2 {
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    height: auto;
}

.news-image-col-2 {
    width: 100%;
    height: 100%;
}

.news-image-col-2-url-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content-col-2 {
    height: auto;
    font-size: 1.2rem;
    font-family: 'News Cycle', sans-serif;
}

.rows-col-2:hover {
    color: #8B78E6;
}

.categorical-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 600px;
    height: auto;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.categorical-news-col-1 {
    color: black;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    text-decoration: none;
}

.categorical-news-col-1:hover {
    color: #8B78E6;
}

.categorical-news-image-col-1 {
    width: 100%;
    height: 75%;
}

.categorical-news-image-col-1-url-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.categorical-news-content-col-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 20%;
    font-family: 'News Cycle', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

.categorical-news-col-2 {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
}

.categorical-rows-col-2 {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.categorical-rows-col-2:hover  {
    color: #8B78E6;
}

.categorical-news-image-col-2 {
    width: 35%;
    height: 144.42px;
}

.categorical-news-image-col-2-url-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.categorical-news-content-col-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 55%;
    height: auto;
    font-size: 1.2rem;
    font-family: 'News Cycle', sans-serif;
}