@media only screen and (max-width: 600px) {
  .news-row {
    flex-direction: column !important;
  }
  .image-col-1 {
    width: 90% !important;
  }
  .categorical-news-image-col-1-url-image {
    width: 90% !important;
  }
  .title-col-2 {
    width: 90% !important;
    padding-top: 1em !important;
  }
  .description-col-3 {
    width: 90% !important;
    padding-top: 1em !important;
  }
  .close-btn {
    height: 50px !important;
    width: 50px !important;
    margin-left: 75% !important;
  }
}

hr {
  width: 100%;
}

h1 {
  margin-left: 2em;
  margin-top: 0;
}

.heading {
  width: 100%;
  position: relative;
}

#sidebar-icon {
  border: 2px solid #494d52;
  border-radius: 4px;
  font-size: 40px;
  height: auto;
  width: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

#sidebar-icon:hover {
  background-color: #878b91;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  height: 1000px;
  text-overflow: ellipsis;
}

.news-row {
  color: black;
  height: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2em;
  text-decoration: none;
}

.news-row:hover {
  color: #8b78e6;
}

.image-col-1 {
  width: 30%;
}

.categorical-news-image-col-1-url-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 255px;
  max-height: 255px;
}

.title-col-2 {
  height: auto;
  width: 30%;
  font-size: 1.5rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-col-3 {
  height: auto;
  width: 30%;
  font-family: "Lateef", cursive;
  font-size: 1.5rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  box-sizing: border-box;
}

#search-box {
  margin-left: 2%;
  font-size: 1rem;
  border-radius: 8px;
}

#search-button {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
  background-color: #9999ff;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.4em;
  color: white;
  cursor: pointer;
  border: none;
}

#sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-x: hidden;
  height: 100%;
  width: 0;
  position: fixed;
  background-color: #2c3335;
  transition: 0.2s;
}

#nav-links {
  display: flex;
  flex-direction: column;
}

.sidebar-text {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #f1f1f5;
  transition: 0.3s;
  padding: 1em;
  font-size: 1.2rem;
}

.sidebar-text:hover {
  color: #6c6c77;
}

.close-button-parent {
  border: 2px solid #494d52;
  border-radius: 4px;
  margin-left: 87%;
}

.close-btn {
  height: 50px;
  width: 50px;
  margin-left: 85%;
}

.close-button-parent:hover {
  cursor: pointer;
  background-color: #6c6c77;
}